<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="width: 2480px; height: 1748px;">
        <h1>Template 2</h1>
        <ul>
            <p>{{id.name.first}} {{id.name.last}}</p>
            {{#each people}}
            <li>{{fname}} {{sname}}</li>
            {{/each}}
        </ul>
        <br>
        <div style="page-break-after:always;"></div>
        <ul>
            <p>{{id.name.first}} {{id.name.last}}</p>
            {{#each people}}
            <li>{{fname}} {{sname}}</li>
            {{/each}}
        </ul>
    </div>

</body>

</html>